---
title: "Zod URL"
description: "Redirect to {{ url }}"
layout: default.njk
---

<meta http-equiv="refresh" content="0; URL='{{ url }}'" />
<script>
window.location = "{{ url }}";
</script>
<p>Continue to <a href="{{ url }}">{{ url }}</a>.</p>