---
title: "Zod URL"
description: "Kneel before your shortened URL"
layout: default.njk
---

<meta http-equiv="refresh" content="0; URL='{{ url }}'" />
<script>
window.location = "{{ url }}";
</script>
<p>Continue to <a href="{{ url }}">{{ url }}</a>.</p>