
# Thanks to https://george.mand.is/2017/12/compress-your-favicon-with-gzip/
AddOutputFilterByType DEFLATE image/x-icon

# Using Apache's mod_alias if available
<IfModule mod_alias.c>
Redirect 301 "/example" "https://www.example.com/"
Redirect 301 "/nho" "https://nicolas-hoizey.com/"
Redirect 301 "/teleject" "https://twitter.com/@teleject"
Redirect 301 "/christopher" "http://christopher.org"
Redirect 301 "/superman" "https://i.giphy.com/media/3HSzHiDUtNLhu/giphy.webp"
Redirect 301 "/mxy" "https://en.wikipedia.org/wiki/Mister_Mxyzptlk"
</IfModule>

# Else, using Apache's mod_rewrite if available
<IfModule !mod_alias.c>
<IfModule mod_rewrite.c>
RewriteRule ^example$ https://www.example.com/ [QSA,L,R=301]
RewriteRule ^nho$ https://nicolas-hoizey.com/ [QSA,L,R=301]
RewriteRule ^teleject$ https://twitter.com/@teleject [QSA,L,R=301]
RewriteRule ^christopher$ http://christopher.org [QSA,L,R=301]
RewriteRule ^superman$ https://i.giphy.com/media/3HSzHiDUtNLhu/giphy.webp [QSA,L,R=301]
RewriteRule ^mxy$ https://en.wikipedia.org/wiki/Mister_Mxyzptlk [QSA,L,R=301]
</IfModule>
</IfModule>